body {
    background-color: #bdd09f;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lavender;
    max-height: 5vh;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
}


nav div ul {
    margin: 10px;
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-right: 25px;
}

nav div ul li a {
    text-decoration: none;
    color: black;
}

nav div ul li a:hover {
    text-decoration: underline;
}

.nav-account-image {
    border-radius: 50%;
    height: 30px;
    margin-left: 20px;
    margin-right: 5px;
}

main {
    border-radius: 15px;
    background-color: whitesmoke;
    width: 84vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.content-section {
    min-height: 100%;
    display: flex;
    align-items: center;
    border-top-color: coral;
    border-top-width: 2px;
    border-top-style: solid;
}

.home-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-image {
    border-radius: 50%;
    height: 125px;
}

.home-content {
    margin-left: 20px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-left: 50px;
}

.section-text {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 250px;
}

.aside-title {
    height: 30vh;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: coral;
}

@media screen and (max-width: 800px) {
    aside {
        display: none;
    }
    .aside-title {
        display: none;
    }
}

.work-row {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.work-column-highlight {
    max-width: 100%;
}

.work-column-highlight img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.work-column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}
  
.work-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.work-item {
    position: relative;
    width: 100%;
    display: block;
}

.work-item-description-overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: cornflowerblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.work-item:hover .work-item-description-overlay {
    opacity: 0.8;
    cursor: pointer;
}

.work-item-description-content {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .work-column {
        flex: 100%;
        max-width: 100%;
    }
}
    
.full-width {
    width: 100%;
}

.contact-options {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}


footer div ul {
    background-color: grey;
    opacity: 0.75;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    list-style-type: none;
}

footer div ul li {
    display: inline-block;
}

.icon {
    min-height: 40px;
    min-width: 40px;
    margin: 10px;
    border-radius: 10px;
    background-color: gray;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    color: white;
    background-color: black;
}