body {
    background-color: #bdd09f;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lavender;
    max-height: 5vh;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
}


nav div ul {
    margin: 10px;
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-right: 25px;
}

nav div ul li a {
    text-decoration: none;
    color: black;
}

nav div ul li a:hover {
    text-decoration: underline;
}

.nav-account-image {
    border-radius: 50%;
    height: 30px;
    margin-left: 20px;
    margin-right: 5px;
}

main {
    border-radius: 15px;
    background-color: whitesmoke;
    width: 84vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.content-section {
    height: 100%;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-image {
    border-radius: 50%;
    height: 125px;
}

.home-content {
    margin-left: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}


footer div ul {
    background-color: grey;
    opacity: 0.75;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    list-style-type: none;
}

footer div ul li {
    display: inline-block;
}

.icon {
    min-height: 40px;
    min-width: 40px;
    margin: 10px;
    border-radius: 10px;
    background-color: gray;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}