body {
    background-color: whitesmoke;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lavender;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
}


nav div ul {
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-right: 25px;
}

.nav-account-image {
    border-radius: 50%;
    height: 24px;
    margin-left: 20px;
    margin-right: 5px;
}
